div{
    width: 900px;
    height: 650px;
    background: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div .carta{
    width: 100%;
    height: 310px;
    background: yellow;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div .carta img{
    width: 95%;
    height: 200px;
}

div .carta p{
    padding: 8px;
}

